<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FishBiasLens</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
    <script src=" https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/topojson@3"></script>
</head>
<body class="page-home">
<div id="graph">
</div>
<div id="config">
    <div class="control">
        Select algorithm:
        <select name="algorithm_select" id="algorithm_select">
            <option value="Both">Both</option>
            <option value="ShadGPT">ShadGPT</option>
            <option value="BassLine">BassLine</option>
        </select> 
    </div>
    <div class="control">
        Select human analyst:
        <select name="human_select" id="human_select">
            <option value="All">All</option>
            <option value="Harvey Janus">Harvey Janus</option>
            <option value="Otros">Otros</option>
        </select> 
    </div>
    <div class="control">
        <button id="update_filters">Filter</button>
    </div>
</div>
<div id="timeline_container">
</div>
<script type="text/javascript">
var data = {{data|tojson}};
const transactions = {{transactions|tojson}};
const positions = {{positions|tojson}};
const timesteps = {{timesteps|tojson}};
const journals = {{journals|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>
</html>
